<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>im a header</h1>
    <h3>im a subheader</h3>
    <a href="https://classroom.google.com/c/ODAxNDcwMzY3Njg4/a/ODAyMDczNjk5MTg2/details"><button>im a button that leads to a external link</button></a>
    <img src="static/r.jpg" alt="image didnt load ;-;"width=500px height=500px>
    <ul>
        <li>im a thing in a ordered</li>
        <li>im also a thing</li>
        <li>me too</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
</body>
</html>